<h3> Mock Interview Python Screening test </h3>

In [3]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
dataframe = pd.read_csv("adult_census_data.csv")

In [4]:
dataframe.head(3)
df=dataframe.head(3)

In [5]:
df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [92]:
df.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

<b> Q1. After importing the adult_census_data.csv file, please filter this to include only the following criteria: </b>
<p>

<li> State-Gov</li>
<li> Bachelors </li>
<li> Never-Married </li>
<li> Adm-Clerical </li> 
<li> Not-in-familiy </li>
<li> White </li>
<li> Male </li> 
<li> United States </li>
<li> <=50K </li> 

<b> Feel free to any method to complete this tasks. However, we recommend you use either list filtering [], or .loc to complete this task.</b>

<b> Put your code below </b>

In [106]:
df = df.drop(columns=['39',' 77516',' 13',' 2174',' 0',' 40'])
df

,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K

<b> Currently, the dataframe you are using has the following column names: </b>

[' State-gov', ' Bachelors', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' United-States', ' <=50K']
       
     
<b> Q2. Please re-name all the newly filtered columns in the pandas DataFrame to the following: </b>

Employment Type, Degree Status, Marriage-Status, Job-Role, Family-Role, Ethnicity, Gender, Country, Earnings

E.g. State-Gov becomes Employment Type, Bachelors becomes Degree Status, etc.

<b> Put your code below </b>

In [113]:
df=df.rename(columns = {'State-Gov' : 'Employement Type', 'Bachelors' : 'Degree-Status', 'Never-married' : 'Marriage-Status',
                     'Adm-clerical' : 'Job-Role', 'Not-in-family' : 'Family-Role', 'White' : 'Ethnicity', 'Male' : 'Gender', 'United-States' : 'Country','<=50K' : 'Earnings'},inplace=True)

AttributeError: 'NoneType' object has no attribute 'rename'

<b> Q3. The Job Role Columns holds the job information for each individual in this census snapshot. Using this column, create a Bar Chart that shows the count of 'Unique' Jobs per Job Group in the "Job-Role" Column in ascending order, as per the provided image below </b>

<b> Put your code below </b>

In [111]:
jobroles = df['Job-Role'].sort()
NoOfJobRoles = df['Job-Role'].value_counts(ascending=True)

#Labelling
plt.xlabel("Job Roles")
plt.ylabel("No. of Job Roles")
plt.title("Type of Job Roles")

#Formatting
plt.xticks(rotation=90)

#Create Bars
plt.bar(JobRoles, NoOfJobRoles)

#Show Graph
plt. show()
print(renamedtable['Job-Role'].value_counts(ascending=True))

TypeError: 'NoneType' object is not subscriptable

<b> Q4. Please create two bar plots as per below that show:
    
    1) The number of individuals who have a High School Graduate Diploma AND earn <=50K in the United States
    2) The number of individuals who have a High School Graduate Diploma AND earn >50K in the United States 

Please note you will be looking specifically at the *Job Role* column

<b> Put Your Code Below </b>

In [130]:
a = pd.value_counts(df.Degree-Status['HS-grad'] & ['Earnings'=<50K])
    a.plot(kind='bar')

SyntaxError: invalid syntax (909275492.py, line 1)

In [129]:
B = pd.value_counts(df.Degree-Status['HS-grad'] & ['Earnings'>50K])
    B.plot(kind='bar')

SyntaxError: invalid syntax (1738938353.py, line 1)

<H2> Challenge Question </H2>

<b> Q5. Which Job Role has the highest <i> proportion </i> of individuals who earn >50K? </b>

<b> Put your code below </b>

In [135]:
all = df[['Earnings','Job-Role']]
entire = all.groupby(['Job-Role']).count()
plus50k = all[all['Earnings']=='>50K']
plus50k = plus50k.groupby(['Job-Role']).count()

TypeError: 'NoneType' object is not subscriptable

In [ ]:

highest_country = (
        df[["Job-Role", "Earnings"]]
        .groupby("Job-Role")
        .apply(lambda g: g.loc[g["Earnings"] == ">50K"].size / g.size * 100)
    )